doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/route.css', type='text/css')
    .div(id='event1')
      h1= title
      p Welcome to #{title}
      script(src='/javascripts/scripts.js')
